.container {
  margin-left: 5px;
  margin-right: 10px;
}
.title {
  font-weight: 700;
  text-align: center;
  font-size: large;
}

.listRoom {
  display: block; /* Remove bullet points; allow greater control of positioning */
  padding: 0; /* Override defaults for lists */
  margin: 10px 0 0 0; /* Override defaults for lists */
  width: 100%; /* Get the row full width */
  list-style-type: none;
}

.listRoom li {
  display: inline-block; /* Get all images to show in a row */
  width: 100%; /* Show 4 logos per row */
}

.rowRoom {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nameRoom {
  width: 5%;
  height: 30px;
  white-space: nowrap;
  font-weight: 700;
  text-align: center; /* Centre align the images */
}

.linkRoom {
  width: 10%;
  height: 30px;
  white-space: nowrap;
  text-align: center; /* Centre align the images */
}

.imgRoom {
  width: 60%;
  display: flex;
}
.imgFront {
  width: 40%;
  height: auto;
}
.imgOV {
  width: 40%;
  height: auto;
}
.imgBtnFront {
  max-width: 100dvh;

  width: 100%;
  height: auto;
  /* object-fit: contain; */
}
.imgBtnOV {
  max-width: 100dvh;
  width: 100%;
  height: auto;
  /* object-fit: contain; */
}

.noteRoom {
  width: 25%;
  height: 30px;
}

@media (max-width: 500px) {
  /* On small screens, show one logo per row */
  .listRoom li {
    width: 100%;
  }
  .rowRoom {
    display: flex;
    flex-direction: column;
  }
  .nameRoom {
    width: 100%;
  }

  .linkRoom {
    width: 100%;
  }

  .imgRoom {
    width: 100%;
  }
  .imgFront {
    width: 45%;
  }
  .imgOV {
    width: 45%;
  }
  .noteRoom {
    width: 100%;
  }
}
